@font-face {
  font-family: "Untitled Sans";
  src: url("../fonts/UntitledSans/untitled-sans-regular.woff2");
}
@font-face {
  font-family: "Untitled Sans";
  src: url("../fonts/UntitledSans/untitled-sans-regular.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("../fonts/UntitledSans/untitled-sans-regular.woff2");
  font-weight: 400;
}
/* @font-face {
  font-family: "Untitled Sans";
  src: url("../fonts/UntitledSans/test-untitled-sans-medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Untitled Sans";
  src: url("../fonts/UntitledSans/test-untitled-sans-bold.woff2");
  font-weight: bold;
} */

/* @font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT/FuturaPT-Heavy.eot");
  src: url("../fonts/FuturaPT/FuturaPT-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FuturaPT/FuturaPT-Heavy.woff") format("woff"),
    url("../fonts/FuturaPT/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
} */


 @font-face {
font-family: "Futura Std";
  src: url("../fonts/FuturaStd/FuturaStdLight.woff") format("woff");
 }
 @font-face {
  font-family: "Futura Std";
  src: url("../fonts/FuturaStd/FuturaStdLight.woff") format("woff");
   font-weight: 400;
 }
 

 @font-face {
  font-family: "Futura Std";
  src: url("../fonts/FuturaStd/FuturaStdBook.woff") format("woff");
   font-weight: 500;
 }

 @font-face {
  font-family: "Futura Std";
  src: url("../fonts/FuturaStd/FuturaStdBold.woff") format("woff");
   font-weight: 700;
 }

/*  @font-face {
  font-family: "Futura Std";
  src: url("../fonts/FuturaStd/FuturaStdMedium.woff") format("woff");
   font-weight: 500;
 }
@font-face {
  font-family: "Futura Std";
  src: url("../fonts/FuturaStd/FuturaStdBold.woff") format("woff");
   font-weight: bold;
 }
@font-face {

   font-family: "Futura Std";
  src: url("../fonts/FuturaStd/FuturaStdHeavy.woff") format("woff");
   font-weight: 900;
} */